@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	margin:0px;
	padding:0px;
	outline:0px;

	}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
		font-weight: bold;
  }

  li a:hover {
    background-color: #04AA6D;
    color: #fff;
    text-decoration: none;
		font-weight: bold;
  }


.active {
  background-color: #04AA6D;
}
